# Виртуальное окружение
venv/
env/
.venv/

# Кеши Python
_pycache_/
*.py[cod]
*.pyo
*.pyd

# Файлы логов
*.log

# Секреты
.env
.env.*

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Тестовые файлы
coverage/
pytest_cache/
.tox/

# БинарникиQ
*.so
*.dll
*.exe
*.out
*.app
*.bin

# Mac и system
.DS_Store
Thumbs.db